body {
    background-color: #224848;
}


/* header */

header h2 {
    margin: 5rem auto;
    margin-bottom: 2rem;
    font-family: sans-serif;
    text-transform: uppercase;
    border: 2px solid yellow;
    width: fit-content;
    padding: .60rem 1.5rem;
    border-radius: 5px;
    color: white;
    letter-spacing: 3px;
}

header h2:hover {
    background-color: yellow;
    cursor: pointer;
    color: black;
}

main {
    display: grid;
    place-items: center;
}

.container {
    width: fit-content;
    background-color: bisque;
    padding: 1.5rem;
}

.r1,
.r2,
.r3,
.r4,
.r5,
.r6 {
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

button {
    border: none;
    padding: 10px 1.5rem;
    background-color: #224848;
    color: white;
    font-size: 1rem;
    border-radius: 2px;
    flex-basis: 25%;
}

#ce {
    padding: 10px 1.1rem;
}

.equal {
    background-color: green;
}

.operator {
    background-color: rgb(3, 190, 128);
    transition: .4s;
}

.operator:hover {
    box-shadow: 0px 2.5px rgba(3, 190, 128, 0.801);
}

input {
    border: none;
    background-color: rgb(25, 122, 207);
    padding: 12px 12px;
    border-radius: 3px;
    font-size: 1rem;
    width: 100%;
    color: white;
}